---
import DemoNoopContainer from '@/components/layouts/DemoNoopContainer.astro';
---

<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 md:p-4 xl:grid-cols-3">
    <div class="space-y-4">
        <div class="flex h-[240px] items-center justify-center rounded-lg border p-4">
            <DemoNoopContainer componentName="collapsible" componentFile="collapsible-demo.tailwind" />
        </div>
        <div class="flex h-[240px] items-center justify-center rounded-lg border p-4">
            <DemoNoopContainer componentName="avatar" componentFile="avatar-demo.tailwind" />
        </div>
    </div>

    <div class="flex items-center justify-center rounded-lg border p-4">
        <DemoNoopContainer componentName="accordion" componentFile="accordion-demo.tailwind" />
    </div>

    <div class="grid gap-4 sm:col-span-1 sm:grid-cols-1 md:col-span-2 md:grid-cols-2 xl:col-span-1 xl:grid-cols-1">
        <div class="flex h-[240px] items-center justify-center rounded-lg border p-4">
            <DemoNoopContainer componentName="progress" componentFile="progress-demo.tailwind" />
        </div>
        <div class="flex h-[240px] items-center justify-center rounded-lg border p-4">
            <DemoNoopContainer componentName="dropdown-menu" componentFile="dropdown-menu-demo.tailwind" />
        </div>
    </div>
</div>
