<div id="docsearch"></div>

<script>
    import docsearch from '@docsearch/js';

    document.addEventListener('DOMContentLoaded', () => {
        docsearch({
            container: '#docsearch',
            appId: 'KO68VM9HAD',
            apiKey: '54e66e10b1c9411f7d5851f86c687085',
            indexName: 'radix-ng'
        });
    });
</script>
