---
import Search from '../search/Search.astro';
import MainNavigation from './MainNavigation.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header class="bg-background-blur sticky top-0 z-50 w-full backdrop-blur-lg">
    <div class="container flex h-14 max-w-screen-2xl items-center px-4">
        <div class="flex items-center">
            <a href="/" class="mr-1 flex items-center md:mr-6" aria-label="Astro documentation">
                <h4 class="text-xl">
                    <span class="inline-block whitespace-nowrap">
                        <span class="font-extrabold">Radix</span>
                        <span class="font-normal">Angular</span>
                    </span>
                </h4>
            </a>
        </div>
        <div class="order-last align-baseline md:relative md:order-none md:mr-4">
            <MainNavigation />
        </div>

        <div class="mr-1 flex flex-1 items-center justify-between space-x-2 md:justify-end">
            <div class="w-full flex-1 md:w-auto md:flex-none"></div>
            <Search />
            <nav class="flex items-center gap-1">
                <ThemeToggle />
                <div class="flex items-center">
                    <a
                        href="https://github.com/radix-ng/primitives"
                        class="hover:bg-secondary flex h-8 w-8 items-center justify-center rounded-md"
                    >
                        <svg viewBox="0 0 15 15" width="1.2em" height="1.2em" class="h-4 w-4">
                            <path
                                fill="currentColor"
                                fill-rule="evenodd"
                                d="M7.5.25a7.25 7.25 0 0 0-2.292 14.13c.363.066.495-.158.495-.35c0-.172-.006-.628-.01-1.233c-2.016.438-2.442-.972-2.442-.972c-.33-.838-.805-1.06-.805-1.06c-.658-.45.05-.441.05-.441c.728.051 1.11.747 1.11.747c.647 1.108 1.697.788 2.11.602c.066-.468.254-.788.46-.969c-1.61-.183-3.302-.805-3.302-3.583a2.8 2.8 0 0 1 .747-1.945c-.075-.184-.324-.92.07-1.92c0 0 .61-.194 1.994.744A6.963 6.963 0 0 1 7.5 3.756A6.97 6.97 0 0 1 9.315 4c1.384-.938 1.992-.743 1.992-.743c.396.998.147 1.735.072 1.919c.465.507.745 1.153.745 1.945c0 2.785-1.695 3.398-3.31 3.577c.26.224.492.667.492 1.343c0 .97-.009 1.751-.009 1.989c0 .194.131.42.499.349A7.25 7.25 0 0 0 7.499.25"
                                clip-rule="evenodd"
                            >
                            </path>
                        </svg>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>
