---
import { cn } from '../../utils/utils';
import Sidebar from './Sidebar.astro';
import siteConfig from '../../config/site-config';
import MobileNavigation from './MobileNavigation.astro';
const firstSegment = Astro.url.pathname.split('/')[1];

function isActive(segment: string) {
    return firstSegment === segment;
}
---

<div>
    <MobileNavigation />
    <div
        class="h-max-[calc(100vh-3.5rem)] bg-background md:data-[state=open]:translate-none fixed -left-full top-14 z-50 h-[calc(100vh-3.5rem)] w-full overflow-y-auto p-6 transition data-[state=open]:translate-x-full data-[state=closed]:duration-300 data-[state=open]:duration-500 md:relative md:left-auto md:top-auto md:h-auto md:w-auto md:transform-none md:overflow-y-visible md:bg-inherit md:p-0"
        id="sidebarNav"
        data-state="closed"
    >
        <nav
            class="mb-8 flex flex-col gap-2 pl-3 text-lg md:relative md:top-0.5 md:mb-0 md:flex-row md:items-center md:gap-4 md:p-0 md:text-sm lg:gap-6"
        >
            <a
                href="/themes/overview/getting-started"
                class={cn(
                    'hover:text-foreground/80 transition-colors',
                    isActive('themes') ? 'dark:text-primary-active' : 'text-foreground/60'
                )}
            >
                Themes
            </a>
            <a
                href="/primitives/overview/introduction"
                class={cn(
                    'hover:text-foreground/80 transition-colors',
                    isActive('primitives') ? 'dark:text-primary-active' : 'text-foreground/60'
                )}
            >
                Primitives
            </a>
        </nav>
        <div class="md:hidden">
            <Sidebar navigation={siteConfig.navigation} />
        </div>
    </div>
</div>
