---
const firstSegment = Astro.url.pathname.split('/')[1];

function isActive(segment: string) {
    return firstSegment === segment;
}
---

<div class="hidden md:block">
    <div>
        <nav class="relative top-0.5 mb-0 flex items-center gap-4 p-0 text-sm lg:gap-6">
            <a
                href="/primitives/overview/introduction"
                class:list={[
                    'text-foreground transition-colors ',
                    {
                        'text-foreground/60 hover:text-foreground/80': !isActive('primitives'),
                        'text-foreground/100 hover:text-foreground font-medium': isActive('primitives')
                    }
                ]}
            >
                Primitives
            </a>
        </nav>
    </div>
</div>
