<button
    id="mobile-nav-btn"
    class="hover:bg-secondary group flex h-8 w-8 cursor-pointer flex-col items-center justify-center rounded md:hidden"
    aria-expanded="false"
    aria-label="Toggle Menu"
    data-aw-toggle-menu=""
>
    <span class="sr-only">Toggle Menu</span>
    <span
        class="ease my-0.5 h-0.5 w-4 transform rounded-full bg-black opacity-80 transition duration-200 group-[.expanded]:translate-y-1.5 group-[.expanded]:rotate-45 dark:bg-white"
        aria-hidden="true"
    >
    </span>
    <span
        class="ease my-0.5 h-0.5 w-4 transform rounded-full bg-black opacity-80 transition duration-200 group-[.expanded]:opacity-0 dark:bg-white"
        aria-hidden="true"
    >
    </span>
    <span
        class="ease my-0.5 h-0.5 w-4 transform rounded-full bg-black opacity-80 transition duration-200 group-[.expanded]:-translate-y-1.5 group-[.expanded]:-rotate-45 dark:bg-white"
        aria-hidden="true"
    >
    </span>
</button>

<script type="module">
    const mobileNavBtn = document.getElementById('mobile-nav-btn');
    const sidebarNav = document.getElementById('sidebarNav');
    const body = document.querySelector('body');

    const handleResizeWindow = () => {
        if (window.innerWidth > 767) {
            body.classList.remove('overflow-hidden');
            mobileNavBtn.classList.remove('expanded');
            sidebarNav.setAttribute('data-state', 'closed');
        }
    };

    if (mobileNavBtn && sidebarNav) {
        mobileNavBtn.addEventListener('click', () => {
            mobileNavBtn.classList.toggle('expanded');
            sidebarNav.dataset.state = sidebarNav.dataset.state === 'open' ? 'closed' : 'open';
            body.classList.toggle('overflow-hidden');
        });

        window.addEventListener('resize', handleResizeWindow);
    }
</script>
