<button id="theme-btn">
    <div class="hover:bg-accent hover:text-accent-foreground flex h-8 w-8 items-center justify-center rounded-md">
        <span id="theme-icon"></span>
    </div>
</button>

<script is:inline>
    const themeBtn = document.getElementById('theme-btn');
    const themeIcon = document.getElementById('theme-icon');

    function getCurrentTheme() {
        return (
            localStorage.getItem('theme') ||
            (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')
        );
    }

    function setThemeIcon(theme) {
        themeIcon.innerHTML =
            theme === 'dark'
                ? '<svg xmlns="http://www.w3.org/2000/svg" width="24" class="w-4 h-4" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>'
                : '<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/></svg>';
    }

    function toggleTheme() {
        const currentTheme = getCurrentTheme();
        const newTheme = currentTheme === 'light' ? 'dark' : 'light';
        localStorage.setItem('theme', newTheme);
        document.firstElementChild.setAttribute('data-theme', newTheme === 'dark' ? 'github-dark' : 'snazzy-light');
        document.firstElementChild.classList.toggle('dark');
        setThemeIcon(newTheme);
    }

    themeBtn.addEventListener('click', toggleTheme);

    setThemeIcon(getCurrentTheme());
</script>
