<div class="container relative">
    <app-theme-toggle></app-theme-toggle>

    <section class="mx-auto flex flex-col items-center gap-2 py-8 md:py-12 md:pb-8 lg:py-24 lg:pb-20">
        <h1 class="text-center text-balance text-3xl font-bold leading-tight tracking-tighter md:text-5xl lg:leading-[1.1]">Building Blocks for the Web</h1>
        <span class="max-w-[750px] text-center text-lg font-light text-foreground">Beautifully designed. Copy and paste into your apps. Open Source.</span>

        <section id="blocks" class="grid w-full scroll-mt-24 gap-24 lg:gap-48">
            <app-dashboard-04></app-dashboard-04>
            <app-authentication-2></app-authentication-2>
        </section>

    </section>
</div>
