@use '@angular/cdk';

@include cdk.a11y-visually-hidden();

.SliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 200px;
    height: 20px;
}

.SliderTrack {
    background-color: var(--black-a10);
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    height: 3px;
}

.SliderRange {
    position: absolute;
    background-color: white;
    border-radius: 9999px;
    height: 100%;
}

.SliderThumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 2px 10px var(--black-a7);
    border-radius: 10px;
}
.SliderThumb:hover {
    background-color: var(--violet-3);
}
.SliderThumb:focus {
    outline: none;
    box-shadow: 0 0 0 5px var(--black-a8);
}

/* Slider Vertical */
.SliderRootV {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    flex-direction: column;
    width: 20px;
    height: 200px;
}

.SliderTrackV {
    background-color: var(--black-a10);
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;
    width: 3px;
}

.SliderRangeV {
    position: absolute;
    background-color: white;
    border-radius: 9999px;
    width: 100%;
}

.SliderThumbV {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 2px 10px var(--black-a7);
    border-radius: 10px;
    position: absolute;
    transform: translateY(-50%);
}
.SliderThumbV:hover {
    background-color: var(--violet-3);
}
.SliderThumbV:focus {
    outline: none;
    box-shadow: 0 0 0 5px var(--black-a8);
}
