# Add files here to ignore them from prettier formatting

.angular
.husky
.nx
.vercel

/node_modules
/dist
/coverage
/.nx/cache

/.nx/workspace-data

CHANGELOG.md

apps/shadcn-docs/src/styles/themes/*.css
