{
    "$schema": "https://json.schemastore.org/prettierrc.json",
    "singleQuote": true,
    "printWidth": 100,
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
        {
            "files": [".component.html", ".page.html"],
            "options": {
                "parser": "angular"
            }
        },
        {
            "files": ["*.html"],
            "options": {
                "parser": "html",
                "singleQuote": false
            }
        }
    ],
    "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrderParserPlugins": ["typescript", "decorators-legacy"],
    "importOrderTypeScriptVersion": "5.0.0",
    "importOrder": [
        "<BUILTIN_MODULES>",
        "",
        "^@angular/(.*)$",
        "^rxjs(.*)$",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^[./]",
        ""
    ]
}
