# Add files here to ignore them from prettier formatting

.angular
.husky
.nx
.vercel
.astro

/node_modules
/dist
/coverage

CHANGELOG.md

apps/shadcn-docs/src/styles/themes/*.css

*.d.ts
*.mdx

pnpm-lock.yaml
pnpm-workspace.yaml

