
/*@import "@radix-ui/themes/tokens.css";*/

/*@import "@radix-ui/themes/styles.css";*/

@import "reset.css";

:root, .radix-theme, .light-theme {
    --cursor-checkbox: default;
    --black-a1: color(display-p3 0 0 0 / 0.05);
    --black-a2: color(display-p3 0 0 0 / 0.1);
    --black-a3: color(display-p3 0 0 0 / 0.15);
    --black-a4: color(display-p3 0 0 0 / 0.2);
    --black-a5: color(display-p3 0 0 0 / 0.3);
    --black-a6: color(display-p3 0 0 0 / 0.4);
    --black-a7: color(display-p3 0 0 0 / 0.5);
    --black-a8: color(display-p3 0 0 0 / 0.6);
    --black-a9: color(display-p3 0 0 0 / 0.7);
    --black-a10: color(display-p3 0 0 0 / 0.8);
    --black-a11: color(display-p3 0 0 0 / 0.9);
    --black-a12: color(display-p3 0 0 0 / 0.95);
    --gray-1: color(display-p3 0.988 0.988 0.988);
    --gray-2: color(display-p3 0.975 0.975 0.975);
    --gray-3: color(display-p3 0.939 0.939 0.939);
    --gray-4: color(display-p3 0.908 0.908 0.908);
    --gray-5: color(display-p3 0.88 0.88 0.88);
    --gray-6: color(display-p3 0.849 0.849 0.849);
    --gray-7: color(display-p3 0.807 0.807 0.807);
    --gray-8: color(display-p3 0.732 0.732 0.732);
    --gray-9: color(display-p3 0.553 0.553 0.553);
    --gray-10: color(display-p3 0.512 0.512 0.512);
    --gray-11: color(display-p3 0.392 0.392 0.392);
    --gray-12: color(display-p3 0.125 0.125 0.125);
    --gray-a1: color(display-p3 0 0 0 / 0.012);
    --gray-a2: color(display-p3 0 0 0 / 0.024);
    --gray-a3: color(display-p3 0 0 0 / 0.063);
    --gray-a4: color(display-p3 0 0 0 / 0.09);
    --gray-a5: color(display-p3 0 0 0 / 0.122);
    --gray-a6: color(display-p3 0 0 0 / 0.153);
    --gray-a7: color(display-p3 0 0 0 / 0.192);
    --gray-a8: color(display-p3 0 0 0 / 0.267);
    --gray-a9: color(display-p3 0 0 0 / 0.447);
    --gray-a10: color(display-p3 0 0 0 / 0.486);
    --gray-a11: color(display-p3 0 0 0 / 0.608);
    --gray-a12: color(display-p3 0 0 0 / 0.875);
    --scaling: 1;
    --space-4: calc(16px * var(--scaling));
    --radius-factor: 1;
    --radius-1: calc(3px * var(--scaling) * var(--radius-factor));
    --color-surface: hsla(0, 0%, 100%, .85);
    --shadow-1: inset 0 0 0 1px var(--gray-a5),inset 0 1.5px 2px 0 var(--gray-a2),inset 0 1.5px 2px 0 var(--black-a2);
}

/***************************************************************************************************
 *                                                                                                 *
 * SIZES                                                                                           *
 *                                                                                                 *
 ***************************************************************************************************/


.rt-BaseCheckboxRoot {
    &:where(.rt-r-size-1) {
        --checkbox-size: calc(var(--space-4) * 0.875);
        --checkbox-indicator-size: calc(9px * var(--scaling));
        --checkbox-border-radius: calc(var(--radius-1) * 0.875);
    }

    &:where(.rt-r-size-2) {
        --checkbox-size: var(--space-4);
        --checkbox-indicator-size: calc(10px * var(--scaling));
        --checkbox-border-radius: var(--radius-1);
    }

    &:where(.rt-r-size-3) {
        --checkbox-size: calc(var(--space-4) * 1.25);
        --checkbox-indicator-size: calc(12px * var(--scaling));
        --checkbox-border-radius: calc(var(--radius-1) * 1.25);
    }
}

.rt-BaseCheckboxRoot {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    flex-shrink: 0;
    cursor: var(--cursor-checkbox);

    /* Unless in a skeleton, align with text line height when possible and fall back to own height */
    height: var(--skeleton-height, var(--line-height, var(--checkbox-size)));
    --skeleton-height-override: var(--checkbox-size);

    /* Set root radius when in a skeleton */
    border-radius: var(--skeleton-radius);
    --skeleton-radius-override: var(--checkbox-border-radius);

    &::before {
        content: '';
        display: block;
        height: var(--checkbox-size);
        width: var(--checkbox-size);
        border-radius: var(--checkbox-border-radius);
    }
}

.rt-BaseCheckboxIndicator {
    position: absolute;
    width: var(--checkbox-indicator-size);
    height: var(--checkbox-indicator-size);

    /* Required for subpixel alignment in Safari */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}



/***************************************************************************************************
 *                                                                                                 *
 * VARIANTS                                                                                        *
 *                                                                                                 *
 ***************************************************************************************************/

/* surface */

.rt-BaseCheckboxRoot:where(.rt-variant-surface) {
    &:where([data-state='unchecked']) {
        &::before {
            background-color: var(--color-surface);
            box-shadow: inset 0 0 0 1px var(--gray-a7);
        }
    }

    &:where([data-state='checked']) {
        &::before {
            background-color: var(--accent-indicator);
        }

        & :where(.rt-BaseCheckboxIndicator) {
            color: var(--accent-contrast);
        }

        &:where(.rt-high-contrast) {
            &::before {
                background-color: var(--accent-12);
            }

            & :where(.rt-BaseCheckboxIndicator) {
                color: var(--accent-1);
            }
        }
    }

    &:where(:disabled) {
        &::before {
            box-shadow: inset 0 0 0 1px var(--gray-a6);
            background-color: transparent;
        }

        & :where(.rt-BaseCheckboxIndicator) {
            color: var(--gray-a8);
        }
    }
}

/* classic */

.rt-BaseCheckboxRoot:where(.rt-variant-classic) {
    &:where([data-state='unchecked']) {
        &::before {
            background-color: var(--color-surface);
            box-shadow: inset 0 0 0 1px var(--gray-a3), var(--shadow-1);
        }
    }

    &:where([data-state='checked']) {
        &::before {
            background-color: var(--accent-indicator);
            background-image: linear-gradient(to bottom, var(--white-a3), transparent, var(--black-a1));
            box-shadow: inset 0 0.5px 0.5px var(--white-a4), inset 0 -0.5px 0.5px var(--black-a4);
        }

        & :where(.rt-BaseCheckboxIndicator) {
            color: var(--accent-contrast);
        }

        &:where(.rt-high-contrast) {
            &::before {
                background-color: var(--accent-12);
            }

            & :where(.rt-BaseCheckboxIndicator) {
                color: var(--accent-1);
            }
        }
    }

    &:where(:disabled) {
        &::before {
            box-shadow: var(--shadow-1);
            background-color: transparent;
            background-image: none;
        }

        & :where(.rt-BaseCheckboxIndicator) {
            color: var(--gray-a8);
        }
    }
}

/* soft */

.rt-BaseCheckboxRoot:where(.rt-variant-soft) {
    &::before {
        background-color: var(--accent-a5);
    }

    &:where([data-state='checked']) {
        & :where(.rt-BaseCheckboxIndicator) {
            color: var(--accent-a11);
        }

        &:where(.rt-high-contrast) {
            & :where(.rt-BaseCheckboxIndicator) {
                color: var(--accent-12);
            }
        }
    }

    &:where(:disabled) {
        &::before {
            background-color: transparent;
        }

        & :where(.rt-BaseCheckboxIndicator) {
            color: var(--gray-a8);
        }
    }
}
