---
import { cn } from '@/utils/utils';

const { className, ...props } = Astro.props;
---

<a
    class={cn(
        'rt-Text rt-reset rt-Link rt-underline-auto rt-Flex rt-r-display-inline-flex rt-r-ai-center rt-r-gap-1',
        className
    )}
    data-accent-color
    {...props}
>
    <slot />
</a>
