---
interface Props {
    attributes: [{ name: string; value?: string }];
}

const { attributes } = Astro.props;

const data = attributes || [];
---

<div class="rt-TableRoot rt-r-size-2 rt-variant-surface rt-Box rt-r-my-5">
    <table class="rt-TableRootTable">
        <thead class="rt-TableHeader">
            <tr class="rt-TableRow">
                <th class="rt-TableCell rt-TableColumnHeaderCell" style="width: 37%;">CSS Variable</th>
                <th class="rt-TableCell rt-TableColumnHeaderCell">Description</th>
                <th class="rt-TableCell rt-TableColumnHeaderCell"></th>
            </tr>
        </thead>
        <tbody class="rt-TableBody">
            {
                data.map(({ name, value }) => {
                    return (
                        <tr class="rt-TableRow" style="white-space: nowrap;">
                            <th class="rt-TableCell rt-TableRowHeaderCell">
                                <code class="rt-reset rt-Code rt-r-size-2 rt-variant-soft rt-variant-soft">{name}</code>
                            </th>
                            <td class="rt-TableCell">{value ? value : '-'}</td>
                            <td class="rt-TableCell" />
                        </tr>
                    );
                })
            }
        </tbody>
    </table>
</div>
