---
import { cn } from '@/utils/utils';

const { className, ...props } = Astro.props;
---

<h1 class={cn('scroll-m-20 text-5xl font-semibold tracking-[-0.02em]', className)} {...props}>
    <slot />
</h1>
