<div class="m:flex-1 mt-0.5 w-full sm:flex-auto md:w-auto md:flex-none">
    <button
        class="focus-visible:ring-ring border-input hover:bg-accent hover:text-accent-foreground bg-muted/50 text-muted-foreground relative inline-flex h-8 w-full items-center justify-start whitespace-nowrap rounded-[0.5rem] border px-2 py-2 text-sm font-normal shadow-none transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 sm:px-4 sm:pr-12 md:w-40 lg:w-64 dark:border-zinc-700 dark:bg-zinc-800 dark:hover:bg-zinc-700"
    >
        <span class="hidden lg:inline-flex">Search documentation...</span><span class="inline-flex lg:hidden">
            Search...
        </span><kbd
            class="bg-muted dark:bg-muted/5 dark:text-muted-foreground pointer-events-none absolute right-[0.3rem] top-[0.3rem] hidden h-5 select-none items-center gap-1 rounded border px-1.5 font-mono text-[10px] font-medium opacity-100 sm:flex dark:border-slate-800"
        >
            <span class="text-xs">⌘</span>K
        </kbd>
    </button>
</div>
