---
import { cn } from '@/utils/utils';

export interface Props {
    class?: string;
}
---

<div
    x-ref="tabButtons"
    class={cn(
        'inline-flex h-9 items-center justify-center rounded-lg bg-muted p-1 text-muted-foreground',
        Astro.props.class
    )}
>
    <slot />
</div>
