.HoverCardContent {
    border-radius: 4px;
    padding: 20px;
    width: 300px;
    background-color: var(--mauve-1);
    box-shadow:
        hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
        hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
}

.HoverCardContent:focus {
    box-shadow:
        hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
        hsl(206 22% 7% / 20%) 0px 10px 20px -15px,
        0 0 0 2px var(--violet-7);
}

.ImageTrigger {
    cursor: pointer;
    border-radius: 100%;
    display: inline-block;
}

.ImageTrigger:focus {
    box-shadow: 0 0 0 2px var(--mauve-1);
}

.Image {
    display: block;
    border-radius: 100%;
}

.Image.normal {
    width: 45px;
    height: 45px;
}

.Image.large {
    width: 60px;
    height: 60px;
}

.Text {
    margin: 0;
    color: var(--mauve-12);
    font-size: 15px;
    line-height: 1.5;
}

.Text.bold {
    font-weight: 700;
}

.Text.faded {
    color: var(--mauve-10);
}

.HoverCardArrow {
    fill: var(--mauve-1);
}
