---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import DocumentationLayout from '../../../layouts/DocumentationLayout.astro';
import { generateToc } from '../../../utils';
import Toc from '../../../components/Toc.astro';

export async function getStaticPaths() {
    const docEntries = await getCollection('themes');
    return docEntries.map((page: any) => {
        return {
            params: { section: page.data.section, slug: page.slug },
            props: { page }
        };
    });
}

export interface Props {
    page: CollectionEntry<'themes'>;
    section: string;
}

const { page } = Astro.props;
const { data, render } = page;
const { Content, headings } = await render();
const tocItems = generateToc(headings);
---

<DocumentationLayout title={data.title}>
    <main class="relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]">
        <div class="mx-auto w-full min-w-0">
            <Content />
        </div>
        <Toc toc={tocItems} />
    </main>
</DocumentationLayout>
