---
import { DemoThemesLoaderComponent } from './demo-themes-loader.component';

export interface Props {
    name: string;
    file: string;
}

const { name, file } = Astro.props;
---

<div class="rt-Box rt-r-my-5">
    <div class="border-muted relative flex w-full items-center overflow-auto rounded-t-lg border p-4">
        <div class="flex w-full">
            <DemoThemesLoaderComponent {...{ name: name, file: file }} client:visible />
        </div>
    </div>
    <div class="relative block h-full">
        <slot name="default" slot="default"><p>Not found</p></slot>
    </div>
</div>
