---
export interface Props {
    title: string;
    href?: string;
}

const { title, href } = Astro.props;
---

<a
    href={href ? href : '/docs/changelog'}
    class="bg-card-primary border-input group inline-flex items-center rounded-lg border px-3 py-1 text-sm font-medium"
>
    🎉{' '}
    <div class="dark:bg-border mx-2 h-4"></div>{' '}
    <span class="sm:hidden">{title}</span>
    <span class="hidden sm:inline">{title}</span>
</a>
