---
---
<header class='fixed shrink-0 w-full bg-background-blur backdrop-blur-lg z-50'>
    <nav class='px-4 h-12 lg:px-0'>
        <div class='flex justify-between items-center h-full border-b lg:px-10'>
        </div>
    </nav>
</header>
