---
---
<header class='fixed shrink-0 w-full bg-background-blur backdrop-blur-lg z-50'>
    <nav class='px-4 h-12 lg:px-0'>
        <div class='flex justify-between items-center h-full border-b lg:px-4'>
            <div>
                <a
                    href='/'
                    class='flex gap-2 items-center'
                    aria-label='Astro documentation'>
                    <h4 class='text-xl'>
                        <span class='font-extrabold'>Radix</span>
                        <span class='font-normal'>Angular</span>
                    </h4>
                </a>
            </div>

            <div class='hidden lg:flex lg:flex-1 lg:justify-center mx-4'>
                <a
                    href="/themes/overview/getting-started"
                    class='h-8 px-3 text-[14px] lg:inline-flex items-center justify-center whitespace-nowrap focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none'>
                    Themes
                </a>
                <a
                    class='h-8 px-3 text-[14px] lg:inline-flex items-center justify-center whitespace-nowrap focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none'>
                    Primitives
                </a>
            </div>
        </div>
    </nav>
</header>
