---
import MainLayout from './MainLayout.astro';
import Sidebar from '../components/Sidebar.astro';
import siteConfig from '../config/site-config';
import Header from '../components/Header.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<MainLayout title={title}>
    <Header />
    <div class="flex justify-start">
        <main class="flex-1">
            <div
                class="container flex-1 items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10"
            >
                <aside
                    class="h-max-[calc(100vh-3.5rem)] fixed top-14 z-30 -ml-2 hidden w-full shrink-0 md:sticky md:block"
                >
                    <div class="h-max-[calc(100vh-3.5rem)] h-full min-h-fit py-6 pr-6 lg:py-8">
                        <Sidebar navigation={siteConfig.navigation} />
                    </div>
                </aside>
                <slot />
            </div>
        </main>
    </div>
</MainLayout>
