---
import MainLayout from './MainLayout.astro';
import Sidebar from '../components/Sidebar.astro';
import siteConfig from '../config/site-config'
import Header from '../components/Header.astro';

interface Props {
    title: string
}

const { title } = Astro.props

---

<MainLayout title={title}>
    <Header />
    <div class='flex justify-start'>
        <Sidebar navigation={siteConfig.navigation} />
        <main class='flex justify-center grow px-4 lg:px-10 mt-32'>
            <div class='min-h-screen w-[900px]'>
                <slot />
            </div>
        </main>
    </div>
</MainLayout>
