---
import '@/styles/globals.css';
import ThemeHeadScript from '@/components/theme/theme-head-script.astro';
import { siteConfig } from '@/config/site-config';

interface Props {
    title?: string;
    description?: string;
    url?: string;
}

const { title, description, url } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <meta name="description" content={description || siteConfig.description} />

        <meta property="og:title" content={title || siteConfig.title} />
        <meta property="og:description" content={title || siteConfig.description} />
        <meta property="og:url" content={url || siteConfig.url} />
        <meta property="og:site_name" content={title || siteConfig.title} />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:alt" content={title || siteConfig.title} />

        <meta property="canonical" content={url || siteConfig.url} />

        <meta name="generator" content={Astro.generator} />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <link
            rel="preload"
            href="https://cdn.workos.com/fonts/untitled-sans-regular-v2.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            href="https://cdn.workos.com/fonts/untitled-sans-medium-v2.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />

        <style>
            @font-face {
                font-family: 'Untitled Sans';
                font-weight: 400;
                font-display: swap;
                src: url('https://cdn.workos.com/fonts/untitled-sans-regular-v2.woff2') format('woff2');
            }

            @font-face {
                font-family: 'Untitled Sans';
                font-weight: 500;
                font-display: swap;
                src: url('https://cdn.workos.com/fonts/untitled-sans-medium-v2.woff2') format('woff2');
            }

            @font-face {
                font-family: 'Untitled Sans';
                font-weight: 700;
                font-display: swap;
                src: url('https://cdn.workos.com/fonts/untitled-sans-medium-v2.woff2') format('woff2');
            }
        </style>
        <ThemeHeadScript />
    </head>
    <body
        class="radix-themes radix-themes-custom-fonts bg-background min-h-screen antialiased"
        data-radius="medium"
        data-scaling="100%"
        data-gray-color="slate"
        data-is-root-theme="true"
        data-accent-color="blue"
    >
        <slot />
    </body>
</html>
