<app-block-toolbar blockName="authentication-4"></app-block-toolbar>

<div class="bg-background border-border flex h-[800px] w-full rounded-lg border p-4 lg:p-0">
    <div class="w-full lg:grid lg:min-h-[600px] xl:min-h-[800px]">
        <div class="flex items-center justify-center py-12">
            <div class="mx-auto grid w-[350px] gap-6">
                <div class="grid gap-2 text-center">
                    <h1 class="text-3xl font-bold">Login</h1>
                    <p class="text-muted-foreground text-balance">Enter your email below to login to your account</p>
                </div>
                <div class="grid gap-4">
                    <div class="grid gap-2">
                        <label htmlFor="email" shLabel>Email</label>
                        <input id="email" placeholder="m@example.com" required shInput type="email" />
                    </div>
                    <div class="grid gap-2">
                        <div class="flex items-center">
                            <label htmlFor="password" shLabel>Password</label>
                            <a href="/forgot-password" class="ml-auto inline-block text-sm underline">
                                Forgot your password?
                            </a>
                        </div>
                        <input id="password" required shInput type="password" />
                    </div>
                    <button shButton type="submit" class="w-full">Login</button>
                    <button shButton variant="outline" class="w-full">Login with Google</button>
                </div>
                <div class="mt-4 text-center text-sm">
                    Don&apos;t have an account?
                    <a href="#" class="underline">Sign up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-muted lg:block">
        <img
            alt="Image"
            height="1080"
            ngSrc="assets/placeholder.svg"
            width="1920"
            class="h-full w-full object-cover dark:brightness-[0.2] dark:grayscale"
        />
    </div>
</div>
