<div class="flex w-full flex-col relative rounded-lg border bg-background border-border">
    <header class="sticky top-0 flex h-16 items-center gap-4 border-b px-4 md:px-6">
        <nav class="hidden flex-col gap-6 text-lg font-medium md:flex md:flex-row md:items-center md:gap-5 md:text-sm lg:gap-6">
            <a
                href="#"
                class="flex items-center gap-2 text-lg font-semibold md:text-base"
            >
                <lucide-angular name="package2"></lucide-angular>
                <span class="sr-only">Acme Inc</span>
            </a>
            <a
                href="#"
                class="text-muted-foreground transition-colors hover:text-foreground"
            >
            Dashboard
            </a>
            <a
                href="#"
                class="text-muted-foreground transition-colors hover:text-foreground"
            >
            Orders
            </a>
            <a
                href="#"
                class="text-muted-foreground transition-colors hover:text-foreground"
            >
            Products
            </a>
            <a
                href="#"
                class="text-muted-foreground transition-colors hover:text-foreground"
            >
            Customers
            </a>
            <a
                href="#"
                class="text-foreground transition-colors hover:text-foreground"
            >
            Settings
            </a>
        </nav>

        <div class="flex w-full items-center gap-4 md:ml-auto md:gap-2 lg:gap-4">
            <form class="ml-auto flex-1 sm:flex-initial">
                <div class="relative">
                    <input
                        shInput
                        [type]="'search'"
                        placeholder="Search products..."
                        [class]="'pl-8 sm:w-[300px] md:w-[200px] lg:w-[300px]'"
                    />
                </div>
            </form>
        </div>
    </header>

    <main class="flex flex-1 flex-col gap-4 bg-muted/40 p-4 md:gap-8 md:p-10">
        <div class="mx-auto grid w-full max-w-6xl gap-2">
            <h1 class="text-3xl font-semibold">Settings</h1>
        </div>

        <div class="mx-auto grid w-full max-w-6xl items-start gap-6 md:grid-cols-[180px_1fr] lg:grid-cols-[250px_1fr]">
            <nav
                class="grid gap-4 text-sm text-muted-foreground"
            >
                <a href="#" class="font-semibold text-primary">
                General
                </a>
                <a href="#">Security</a>
                <a href="#">Integrations</a>
                <a href="#">Support</a>
                <a href="#">Organizations</a>
                <a href="#">Advanced</a>
            </nav>
            <div class="grid gap-6">
                <div Card x-chunk="dashboard-04-chunk-1">
                    <div CardHeader>
                        <div CardTitle>Store Name</div>
                        <div CardDescription>
                            Used to identify your store in the marketplace.
                        </div>
                    </div>
                    <div CardContent>
                        <form>
                            <input shInput placeholder="Store Name" />
                        </form>
                    </div>
                    <div CardFooter class="border-t px-6 py-4">
                        <button shButton>Save</button>
                    </div>
                </div>

                <div Card x-chunk="dashboard-04-chunk-2">
                    <div CardHeader>
                        <div CardTitle>Plugins Directory</div>
                        <div CardDescription>
                            The directory within your project, in which your plugins are
                            located.
                        </div>
                    </div>
                    <div CardContent>
                        <form class="flex flex-col gap-4">
                            <input
                                shInput
                                placeholder="Project Name"
                            />
                            <div class="flex items-center space-x-2">
                                <shCheckbox class="flex" idLabel="include"></shCheckbox>
                                <label
                                    for="include"
                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                >
                                    Allow administrators to change the directory.
                                </label>
                            </div>
                        </form>
                    </div>
                    <div CardFooter class="border-t px-6 py-4">
                        <button shButton >Save</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
