@import './grayscale-dark.css';

:root {
    --ng-doc-base-0: #ffffff;
    --ng-doc-base-1: hsl(var(--background));
    --ng-doc-base-2: hsl(var(--background));
    --ng-doc-base-3: #a9a9a9;
    --ng-doc-base-4: #a4a4a4;
    --ng-doc-base-5: #d9d9d9;
    --ng-doc-base-6: #696969;
    --ng-doc-base-7: #a6a6a6;
    --ng-doc-base-8: #565656;
    --ng-doc-base-9: #4f4f4f;
    --ng-doc-base-10: #252424;
    --ng-doc-text: #151515;
    --ng-doc-text-muted: var(--ng-doc-base-10);
    --ng-doc-text-selection: rgba(110, 110, 110, 0.5);

    --ng-doc-shadow-color: none;
    --ng-doc-link-color: hsl(var(--primary));
    --ng-doc-inline-code-background: #606060;

    --ng-doc-primary: hsl(var(--primary));
    --ng-doc-info: #7095ff;

    --ng-doc-mark-background: rgba(48, 165, 255, 0.3);
    --ng-doc-search-result-color: #c6c6c6;

    --ng-doc-api-tag-background: #ff5959;
    --ng-doc-api-tag-color: var(--background);
    --ng-doc-guide-tag-background: #faab00;
    --ng-doc-guide-tag-color: var(--background);

    --ng-doc-input-height: 32px;
    --ng-doc-input-width: 16rem;

    --ng-doc-navbar-left-width: 450px;
    --ng-doc-app-max-width: 1536px;
    --ng-doc-navbar-horizontal-padding: 2rem;
}
