@import './grayscale-dark.css';

:root {
    --ng-doc-base-0: #2b2b2b;
    --ng-doc-base-1: #333333;
    --ng-doc-base-2: #3a3a3a;
    --ng-doc-base-3: #424242;
    --ng-doc-base-4: #4b4b4b;
    --ng-doc-base-5: #555555;
    --ng-doc-base-6: #5e5e5e;
    --ng-doc-base-7: #686868;
    --ng-doc-base-8: #727272;
    --ng-doc-base-9: #7d7d7d;
    --ng-doc-base-10: #888888;
    --ng-doc-text: #f6f6f6;
    --ng-doc-text-muted: var(--ng-doc-base-10);
    --ng-doc-text-selection: rgba(110, 110, 110, 0.81);

    --ng-doc-shadow-color: none;
    --ng-doc-link-color: hsl(var(--secondary));
    --ng-doc-inline-code-background: #b9b9b9;

    --ng-doc-primary: hsl(var(--primary));
    --ng-doc-info: #7095ff;

    --ng-doc-mark-background: rgba(48, 165, 255, 0.3);
    --ng-doc-search-result-color: #c6c6c6;

    --ng-doc-api-tag-background: #ff5959;
    --ng-doc-api-tag-color: var(--ng-doc-base-0);
    --ng-doc-guide-tag-background: #faab00;
    --ng-doc-guide-tag-color: var(--ng-doc-base-0);

    --ng-doc-code-background: unset;
    --ng-doc-sidebar-background:  hsl(var(--background));
    --ng-doc-navbar-background:  hsl(var(--background));
    --ng-doc-demo-displayer-background: hsl(var(--card));

    --ng-doc-input-height: 32px;
    --ng-doc-input-width: 16rem;

    --ng-doc-navbar-left-width: 450px;
    --ng-doc-app-max-width: 1536px;
    --ng-doc-navbar-horizontal-padding: 2rem;
}
