/* calendar-default.style.css */

/* Общие обёртки */
.wrapper {
    max-width: 680px;
    width: 300px;
}

.calendar-root {
    margin-top: 1.5rem;
    border-radius: 0.75rem;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #e5e7eb;
}

/* Заголовок календаря */
.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar-heading {
    font-size: 0.875rem;
    color: #000000;
    font-weight: 500;
}

/* Кнопки навигации */
button {
    all: unset;
}

.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000000;
    background-color: transparent;
    border-radius: 0.375rem;
    width: 1.75rem;
    height: 1.75rem;
}

.icon-button:hover {
    background-color: #f5f5f4;
}

.icon-button:active {
    transform: scale(0.98);
    transition: all 0.1s ease;
}

.icon-button:focus {
    box-shadow: 0 0 0 2px black;
}

/* Контейнер таблицы */
.calendar-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

/* Сетка календаря */
.calendar-grid {
    width: 100%;
    border-collapse: collapse;
    user-select: none;
}

/* Заголовок дней недели */
.calendar-grid-head-row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    margin-bottom: 0.25rem;
}

.calendar-head-cell {
    border-radius: 0.375rem;
    font-size: 0.75rem;
    color: #30a46c;
    text-align: center;
}

/* Тело календаря */
.calendar-grid-body {
    display: grid;
}

.calendar-week-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-cell-wrapper {
    position: relative;
    text-align: center;
    font-size: 0.8rem;
}

/* Клетки дней */
.calendar-day {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 9999px;
    white-space: nowrap;
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
    outline: none;
    cursor: pointer;
}

.calendar-day:focus {
    box-shadow: 0 0 0 2px black;
}

.calendar-day:hover {
    background-color: #c3e8d1;
}

.calendar-day[data-selected] {
    background-color: #30a46c !important;
    color: white;
}

.calendar-day[data-outside-view],
.calendar-day[data-unavailable] {
    color: rgba(0, 0, 0, 0.3);
}

.calendar-day[data-unavailable] {
    pointer-events: none;
    text-decoration: line-through;
}

.calendar-day::before {
    content: '';
    position: absolute;
    top: 5px;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 9999px;
    background-color: white;
    display: none;
}

.calendar-day[data-today]::before {
    display: block;
    background-color: #298459;
}

.calendar-day[data-highlighted] {
    background-color: #c3e8d1;
}
