---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';

import Announcement from '../components/Announcement.astro';
---

<MainLayout title="Radix Angular">
    <div class="relative z-10 flex min-h-screen flex-col">
        <Header />
        <main class="flex-1">
            <div class="container relative">
                <section
                    class="mx-auto flex max-w-[980px] flex-col items-center gap-2 py-8 md:py-12 md:pb-8 lg:py-24 lg:pb-20"
                >
                    <Announcement title="DropdownMenu component!" />

                    <div class="pt-4">
                        <h1
                            class="text-center text-3xl font-bold leading-tight tracking-tighter text-[#FA2C04] md:text-6xl lg:leading-[1.1]"
                        >
                            Radix Angular
                        </h1>
                        <p class="mt-2 text-center text-lg font-bold md:text-2xl">Angular Port of Radix UI</p>
                        <p class="text-muted-foreground max-w-[750px] text-center text-lg sm:text-xl">
                            Unstyled, accessible components for building high-quality design systems and web apps in
                            Angular.
                        </p>

                        <div class="mt-6 flex justify-center space-x-4 md:mt-8">
                            <a
                                href="/primitives/overview/introduction"
                                class="rounded-lg bg-[#FA2C04] px-6 py-2 text-sm font-bold text-white md:py-3 md:text-base"
                            >
                                Get Started
                            </a>
                            <a
                                target="_blank"
                                href="https://github.com/radix-ng/primitives"
                                class="rounded-lg bg-gray-200 px-6 py-2 text-sm font-bold text-gray-700 md:py-3 md:text-base"
                            >
                                View on GitHub
                            </a>
                        </div>
                    </div>
                </section>

                <section class="flex flex-col gap-4">
                    <div class="grid grid-cols-2 gap-4 lg:grid-cols-2 2xl:grid-cols-4">
                        <div class="rounded-lg bg-gray-100 p-6 text-center">
                            <div class="text-2xl">🚀</div>
                            <h2 class="mt-4 font-bold">Save time. Ship faster.</h2>
                            <p class="mt-2 text-gray-600">
                                Building on top Radix components will save you time and money, so you can ship a better
                                product faster.
                            </p>
                        </div>
                        <div class="rounded-lg bg-gray-100 p-6 text-center">
                            <div class="text-2xl">⌨️</div>
                            <h2 class="mt-4 font-bold">Accessibility out of the box.</h2>
                            <p class="mt-2 text-gray-600">
                                WAI-ARIA compliant. Support Keyboard navigation & Focus management.
                            </p>
                        </div>
                        <div class="rounded-lg bg-gray-100 p-6 text-center">
                            <div class="text-2xl">👩‍💻</div>
                            <h2 class="mt-4 font-bold">Developer Experience First.</h2>
                            <p class="mt-2 text-gray-600">
                                Unstyled, easily customizable and great for building design systems and web apps.
                            </p>
                        </div>
                        <div class="rounded-lg bg-gray-100 p-6 text-center">
                            <div class="text-2xl">👩‍💻</div>
                            <h2 class="mt-4 font-bold">and more!</h2>
                            <p class="mt-2 text-gray-600">Many more features...</p>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <div class="fixed left-0 top-0 size-full bg-gradient-to-b from-[#a277ff] via-transparent to-transparent opacity-10">
    </div>
</MainLayout>
