---
import Layout from "../layouts/Layout.astro";
import NgBlockComponent from '../components/ng-block.component';


const post = await import(`../content/docs/test-component.mdx`);
const { default: Content } = post;

---

<Layout>
    <NgBlockComponent />
    <section>
        <Content />
    </section>
</Layout>
