name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read
  packages: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CI: true

jobs:
  install-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup

  lint:
    runs-on: ubuntu-latest
    needs: install-deps
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup

      - name: Linters
        run: |
          pnpm run prettier
          pnpm run stylelint --max-warnings=0
          pnpm run eslint --max-warnings=0

  unit:
    runs-on: ubuntu-latest
    needs: install-deps
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup

      - name: Run unit tests
        run: pnpm primitives:test

  builds:
    runs-on: ubuntu-latest
    needs: install-deps
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup

      - name: Build Primitives
        run: pnpm primitives:build

      - name: Build Components
        run: pnpm components:build

      - name: Build shadcn
        run: pnpm shadcn:build

      - name: Build taxonomy
        run: pnpm showcase-taxonomy:build

      - name: Build dashboard
        run: pnpm showcase-dashboard:build

  summary:
    if: ${{ always() }}
    needs: [lint, unit, builds]
    runs-on: ubuntu-latest
    steps:
      - name: On error
        if: ${{ needs.builds.result != 'success' || needs.unit.result != 'success' || needs.lint.result != 'success' }}
        run: exit 1
